{% extends 'base.html' %}

{% block script %}

{% endblock %}

{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Сообщение</th>
      <th scope="col">Получатель</th>
      <th scope="col">Создано</th>
      <th scope="col">Задержка</th>
      <th scope="col">Отправлено</th>
    </tr>
  </thead>

  <tbody>
    {% for mail in mails %}
    <tr>
      <th scope="row">{{ mail.id }}</th>
      <td>{{ mail.text }}</td>
      <td>{{ mail.email }}</td>
      <td>{{ mail.publish|date:'Y-m-d H:i:s' }}</td>
      <td>{{ mail.second }}</td>
      <td class="published">{% if mail.send %} {{ mail.published|date:'Y-m-d H:i:s' }} {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}